.test {
    background-image: url('https://images.alphacoders.com/113/thumb-1920-1138740.png');
    background-size: cover;
}

.back {
    border-radius: 50px;
    border-color: crimson;
    border-style: outset;
    width: 70%;
    margin: auto;
    background-color: indigo;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.back a {
    color: brown;
    text-decoration: none;
    width: 500px;
    height: 60px;
    font-size: 25px;
}

.back a:hover {
    background-color: cyan;
    color: darkmagenta;
}

.menuAdmin {
    border-radius: 50px;
    border-color: crimson;
    border-style: outset;
    width: max-content;
    margin: auto;
    background-color: indigo;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 150px;
    padding-left: 155px;
    padding-right: 155px;
}

.menuAdmin a {
    color: brown;
    text-decoration: none;
    width: 500px;
    height: 60px;
    font-size: 25px;
}

.menuAdmin a:hover {
    background-color: cyan;
    color: darkmagenta;
}